<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--    DataSource：使用Spring的数据源替换Mybatis的配值 c3p0 dbcp druid 这里使用Spring提供的JDBC-->
    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="123123"/>
    </bean>

    <!--    SqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--        数据源-->
        <property name="dataSource" ref="datasource"/>
        <!--        绑定Mybatis配值文件，其实可以完全省略到Mybatis.xml文件配值，给它个面子，保留一下-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--        绑定Mapper接口-->
        <property name="mapperLocations" value="classpath:com/zjy/dao/*.xml"/>
    </bean>

    <!--    SqlSessionTemplate：就是我们使用的sqlSesssion-->
    <bean id="sessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <!--        只能使用构造器注入,，因为它没有set方法，只能构造器-->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

</beans>