<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserDaoMysqlImpl" class="com.zjy.dao.UserDaoMysqlImpl"></bean>
    <bean id="UserDaoOracleImpl" class="com.zjy.dao.UserDaoOracleImpl"></bean>
    <bean id="UserDaoSqlImpl" class="com.zjy.dao.UserDaoSqlImpl"></bean>
    <bean id="UserServiceImpl" class="com.zjy.service.UserServiceImpl">
        <property name="userDao" ref="UserDaoMysqlImpl"></property>
    </bean>
</beans>