<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>
    <bean id="people" class="com.zjy.pojo.People">
        <property name="name" value="小海"></property>
    </bean>
    <bean id="dog1" class="com.zjy.pojo.Dog"/>
    <bean id="cat" class="com.zjy.pojo.Cat"/>
    <bean id="ccc" class="com.zjy.pojo.Cat"/>
</beans>